.container {
  width: 700px;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  border: 3px solid pink;
  margin: 60px auto 10px;
  padding: 40px;
}

input {
  background-color: #e3f6f4;
  border: 2px solid pink;
  border-radius: 5px;
  color: #6f7474;
  padding: 2px 4px;
  font-weight: 500;
  margin-bottom: 10px;
}

.submit-button {
  background-color: pink;
  color: #e3f6f4;
  border: 2px solid #6bcec6;
  border-radius: 5px;
  display: inline-block;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #e3f6f4;
  border: 2px solid #6bcec6;
  border-radius: 5px;
  color: #6f7474;
  transition: all 200ms ease-in-out;
}

.current-location-button {
  background-color: pink;
  color: #e3f6f4;
  border: 2px solid #6bcec6;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
  display: inline-block;
}

.current-location-button:hover {
  cursor: pointer;
  background-color: #e3f6f4;
  border: 2px solid #6bcec6;
  border-radius: 5px;
  color: #6f7474;
  transition: all 200ms ease-in-out;
}

#city {
  color: blue;
  font-weight: 700;
  font-size: 48px;
  margin: 0 auto;
  line-height: 54px;
}

#country {
  color: blue;
  font-weight: 500;
  font-size: 24px;
  margin: 0 auto;
  line-height: 30px;
  padding-bottom: 10px;
}

h5 {
  font-weight: 500;
  font-size: 16px;
  color: #6f7474;
}

div.current-temperature {
  padding-top: 10px;
}

.current-temperature {
  color: blue;
  font-weight: 700;
  font-size: 48px;
  margin: 0 auto;
  padding: 20px;
  line-height: normal;
  text-align: right;
}

.degree {
  font-size: 24px;
  font-weight: 400;
  color: blue;
  position: relative;
  bottom: 17px;
}

#description {
  display: inline-block;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  color: blue;
  text-align: center;
}

.other-current-data {
  margin: 0 auto;
  color: #6f7474;
  padding: 10px 20px 20px 20px;
}

.image-current-weather {
  width: 180px;
  display: block;
  margin: 0 auto;
}

.image-forecast {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.date-forecast {
  text-align: center;
  padding-top: 10px;
  color: blue;
  font-weight: 500;
  margin: 0 auto;
}

.temperature-forecast {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  color: #6f7474;
}

.reference {
  font-family: "Courier New", Courier, monospace;
  display: block;
  margin: 0 auto;
  text-align: center;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: #60a2d7;
}
